.recipe-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 25px;
}
.recipe-container {
  background: linear-gradient(135deg, #e9f9e6, #acdd93de);
}
.recipe-title {
  color: #218e05;
  text-align: center;
  padding: 30px;
  font-size: 40px;
}
.recipe-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 300px;
  height: 100%;
  text-align: center;
  margin: 20px 0;
  padding: 0 20px;
}

.recipe-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-container {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.recipe-image {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.recipe-name {
  font-size: 1.2em;
  margin: 20px 0;
}

.recipe-ingredients {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 0 10px;
}

.recipe-ingredients li {
  font-size: 12px;
  text-align: left;
}

.recipe-instructions {
  padding: 5px 15px;
  background: #218e05;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 15px;
  text-align: left;
  margin-bottom: 10px;
  cursor: pointer;
}

.recipe-instructions:hover {
  background-color: #3f8b2d;
}
/* Media queries for responsiveness */

@media only screen and (max-width: 480px) {
  .recipe-title {
    font-size: 28px;
  }
}
